!!!
%html
  %head
    %title Mapacien.sk | Zistite cenu nehnuteľností
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    %link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Titillium+Web:400,300&subset=latin,latin-ext")
    = csrf_meta_tags
    = analytics_init
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .col-md-3
        %h1
          Mapacien.sk
      .col-md-9
        = render :partial => "properties/filter"

    = yield


    = yield :js_data
    = yield :scripts
